<h4>Logged in as admin</h4>

<h2>{{model.currentCategory.name}}</h2>

<br>


<h4>Current listings:</h4>

  {{admin-listing-tile listings=model.currentCategory.listings categories=model.categories destroyListing="destroyListing"}}
