<h2>{{model.name}}</h2>

<br>


<h4>Current listings:</h4>

  {{listing-tile listings=model.listings}}


{{#link-to 'admin' model.id}}<button class="btn btn-info">Log in as Admin</button>{{/link-to}}

<br>

<br>

{{#link-to 'index'}}<button class="btn btn-primary">Home</button>{{/link-to}}
